/*Universal CSS*/

h4 {
    font-family: 
    -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
        background-color: #0d0d0d;
        color: white;
        font-family: "Courier New", Courier, monospace;
}

h1 {
    font-family: 
    -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

hr {
    background-color: white;
    width: auto;
}


li a {
    float: left;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

li a:hover {
    color: #dddddd
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.navbar {
    list-style-type: none;
    padding: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid white;
    margin: 0;
    background-color: #0d0d0d;
    margin: 0 auto;
}

.main-shows {
    margin: 50px auto 50px;
    max-width: 100%;
}

#h1-shows {
    text-align: center;
}

.wrapper-shows {
    display: grid;
    grid-gap: 15px;
    
}

.column-shows{
    border: 1px solid white;
    
}

.main-body-shows {
    padding: 10px;
}

.img-shows {
    max-width: 100%;
    justify-content: stretch;
    background-repeat: no-repeat;
    background-size: cover;
}

    #icon-one {
        background-image: url('http://www.nappyafro.com/wp-content/uploads/2014/08/Souls-of-Mischief-e1408757355508.jpg');
    }

    #icon-two {
        background-image: url('https://bloximages.chicago2.vip.townnews.com/phillytrib.com/content/tncms/assets/v3/editorial/9/ce/9cefe86e-685e-5c42-8b75-384ee159fc78/56f58335c7f5f.image.jpg');
    }

    #icon-three {
        background-image: url('http://s3.amazonaws.com/factmag-images/wp-content/uploads/2016/12/tumblr_static_8bg71s0gntkwcg4csggkssgcs.jpg');
    }

    #icon-four {
        background-image: url('http://cdn3.pitchfork.com/albums/21987/dc2957da.jpg');
    }

.text-shows a {
    text-decoration: none;
    color: white;
    display: block;
    bottom: 0;
}

.text-shows a:hover {
    color:#0d0d0d;
    background-color: white;
}

.tags a{
    float: left;
    display: block;
    margin-bottom: 10px;
    background-color: #9c9c9c;
    color: #0d0d0d;
}

.tags a:hover {
    color:#0d0d0d;
    background-color: #d1d1d1;
}


/*shows*/
@media screen and (min-width: 1150px) and (max-width: 1500px) {
/*laptop size*/
    .navigation-narrow {
        display: none;
    }

    .wrapper-shows {
        grid-template-columns: repeat(4, 23.7vw); 
        grid-template-rows: 22vw;
        
    }


    .img-shows {
        height: 12vw;
    }


    .text-shows a {
        font-size: 1.2vw;
    }


    .tags a{
        padding: 0.2vw;
        font-size: 0.8vw;

    }

    .navigation-narrow {
        display: none;
    }
}

@media screen and (max-width: 1150px) and (min-width: 900px) {
/*big tablet*/

    .navigation-narrow {
        display: none;
    }   


    .wrapper-shows {
        grid-template-columns: repeat(3, 31.5vw); 
        grid-template-rows: 29vw;
    }



    .img-shows {
        height: 16vw;
        background-image: url('https://www.sfjazz.org/sites/default/files/articlehero_hotplate_gil_scott-heron.jpg?1339632935');
    }

    .text-shows a {
        font-size: 1.4vw;
    }


    .tags a{
        padding: 0.3vw;
        font-size: 1.2vw;
    }

    .navigation-narrow {
        display: none;
    }
}

@media screen and (max-width: 900px) and (min-width: 650px) {
    /*small tablet*/

    .navigation-narrow {
        display: none;
    }

    .wrapper-shows {
        grid-template-columns: repeat(2, 48vw); 
        grid-template-rows: 43vw;      
    }


    .img-shows {
        height: 24vw;
        background-image: url('https://www.sfjazz.org/sites/default/files/articlehero_hotplate_gil_scott-heron.jpg?1339632935');
    }

    .text-shows a {
        font-size: 2vw;
    }

    .tags a{
        padding: 0.5vw;
        font-size: 1.5vw;
    }


    .navigation-narrow {
        display: none;
    }
}


@media screen and (max-width: 650px) {
/*mobile size*/

    /*content of page*/
    .wrapper-shows {
        grid-template-columns: repeat(1, 96vw); 
        grid-template-rows: 80vw;
    }


    .img-shows {
        height: 45vw;
        background-image: url('https://www.sfjazz.org/sites/default/files/articlehero_hotplate_gil_scott-heron.jpg?1339632935');
    }

    .text-shows a {
        font-size: 3.4vw;
    }

    .tags a{
        padding: 0.8vw;
        font-size: 2.2vw;
    }


    /*mobile navbar*/
    .navbar {
        display: none;
    }

    .navigation-narrow {
        border-bottom: 1px solid white;
        top: 0;
        position: fixed;
        width: 100%;
        background-color: #0d0d0d;
        margin: 0 auto;

    }

    #title-narrow {
        font-size: 1em;
        float: left;
    }

    .menu-button {
        font-family: "Courier New", Courier, monospace;
        background-color: #0d0d0d;
        color: white;
        border: none;
        font-size: 1em;
        cursor: pointer;
    }

    .menu-button:hover, .menu-button:focus {
        background-color: #0d0d0d;
    }

    #menu-narrow {
        position: relative;
        display: inline-block;
        background-color: #0d0d0d;
        
        
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: 0px;
        top: 50px;
        width: 125px;
        z-index: 1;
        background-color: #0d0d0d;
        
    }

    .dropdown-content a {
        background-color: #0d0d0d;
        color: white;
        text-decoration: none;
        padding: 12px 16px;
        display: block;
    }

    .dropdown-content a:hover {
        color: #0d0d0d;
        background-color: white;
    }

    #menu-narrow {
        float: right;
        margin-top: 15px;
        margin-right: 10px;
    }

    .show {
        display: block;
    }

}


