body {
    background-color: #0f0f0f;
    color: white;
    /*font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    font-family: "Courier New", Courier, monospace;
    
}

h1 {
    font-family: 
    -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.navbar {
    list-style-type: none;
    padding: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid white;
    margin: 0;
    background-color: #0f0f0f;
}
    

li a {
    float: left;
    padding: 10px;
    /*background-color: #0f0f0f;*/
    text-align: center;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

li a:hover{
    color: #dddddd
}

ul{
    list-style-type: none;
    padding-left: 2px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1 / 2;
  color: #ffb5bf;
}

.two { 
  grid-column: 2 / 2;
  color: #9addf9;
}

hr {
    background-color: white;
    width: auto;
}

.main {
    margin-top: 50px;
    margin: 50px auto 50px;
    max-width: 1000px;
}